.btn {
    padding: 8px;
    margin: 0;
    border-color: black;
    border-style: solid;
}

#output {
    font-size: xx-large;


}
#row1 {
    display: flex;
    flex-direction: row;
  /*  justify-content: space-evenly;
    margin: 36px;
    padding: 36px;*/
}#row2 {
    display: flex;
    flex-direction: row;

    
}#row3 {
    display: flex;
    flex-direction: row;

  
}#row4 {
    display: flex;
    flex-direction: row;


}